input,
button {
  width: 100%;
}

input::placeholder {
  text-align: center;
}
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}