.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.icon {
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
  display: inline-block;
}
