<div class="carousel-wrap">
  <div *ngIf="!facts || !facts.length" class="container spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="facts.length > 0">
    <swiper
      #swiper
      [config]="config"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
    >
      <ng-template swiperSlide *ngFor="let catFact of facts">
        <mat-card class="fact-card">
          <mat-card-header>
            <mat-card-subtitle>
              <p class="subtitle">Cat Fact #{{ catFact.factNumber }}</p>
            </mat-card-subtitle>
          </mat-card-header>
          <img
            [src]="catFact.path"
            alt="{{ catFact.fact }}"
            loading="lazy"
            (load)="onImageLoad()"
          />
          <div class="card-text-wrap" *ngIf="catFact.path">
            <mat-card-content>
              <p>{{ catFact.fact }}</p>
            </mat-card-content>
          </div>
          <mat-card-actions class="card-action">
            <button (click)="addToFavorite(catFact)" mat-button>
              <mat-icon aria-hidden="false" aria-label="" class="save-icon"
                >save</mat-icon
              >
            </button>
            <button mat-button>
              <mat-icon
                aria-hidden="false"
                aria-label="share-icon"
                class="share-icon"
                >share</mat-icon
              >
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </swiper>
  </div>
</div>
<router-outlet></router-outlet>
